@charset "utf-8";

h3 {
    text-align: center;
}

.wrap {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.top {
    background-color: #000;
    width: 100%;
    height: 200px;
}

.top p {
    text-align: right;
    padding: 5vmax;
    color: white;
    font-size: 2em;
}

.index {
    display: flex;
    justify-content: center;
    text-align: center;
}

.index a {
    width: 100px;
    border: solid 1px black;
    padding: 0 10px;
    margin: 30px 10px 10px 10px;
    text-decoration: none;
    color: black;
}

.text2::after {
    content: "　▼";
    font-size: 0.6em;
}

.text1 {
    text-align: center;
    border: solid 1px black;
}

.text1::after {
    content: "　▼";
    font-size: 0.6em;
}

.character {
    width: 100%;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro-div {
    margin: 10px;
}

.intro-div img {
    width: 200px;
}

.line table {
    table-layout: fixed;
    width: 100%;
}

.line td {
    vertical-align: top;
}

.btn-top a{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    top: 85%;
    bottom: 5%;
    /* right: 5%; */
    background: #000;
    text-decoration: none;
    color: white;
    text-align: center;
}
